@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@import "./styles/animation.css";
@import "./styles/mdx.css";
@import "./styles/markdown-preview.css";
@import "./styles/prism-theme.css";

@theme {
  --radius: 0.625rem;

  /* Colors */
  --color-dark-400: #3d424d;
  --color-background: #0d1321;
  --color-dark-600: #0c111e;

  --color-navy-300: #687282;
  --color-navy-400: #4a5769;
  --color-navy-500: #1d2d44;
  --color-navy-600: #1a293e;
  --color-navy-700: #152030;
  --color-navy-800: #101925;

  --color-teal-400: #657d91;
  --color-teal-500: #3e5c76;
  --color-teal-600: #38546b;
  --color-teal-700: #2c4154;

  --color-blue-100: #d4dbe5;
  --color-blue-400: #90a3bc;
  --color-blue-500: #748cab;

  --color-text-300: #f5f2e5;
  --color-text-400: #f3efe0;
  --color-foreground: #f0ebd8;
  --color-text-600: #dad6c5;

  --color-neon: #86d562;
  --color-neon-4: #b3e59c;
  --color-neon-10: #3c602c;

  --color-destructive: oklch(0.704 0.191 22.216);

  /* Fonts */
  --font-primary: Inter, sans-serif;

  /* Grid settings */
  --grid-size: 45px;
  --grid-opacity: 0.1;

  /* Breakpoints */
  --breakpoint-xs: 480px;

  --header-h: 60px;

  /* Glowing background */
  --glow-size-large: 70vw;
  --glow-size-small: 500px;
  --glow-color: var(--color-neon);
  --glow-opacity-primary: 0.15;
  --glow-opacity-secondary: 0.2;
  --glow-blur: 50px;
}

@layer base {
  :root {
    overflow-x: hidden;
  }

  body {
    @apply bg-background font-primary text-foreground selection:text-neon-10 selection:bg-neon-4 relative overflow-hidden leading-6;
  }
}

@layer components {
  .portfolio-header {
    @apply mx-auto flex gap-1 border-none bg-transparent backdrop-blur-md md:px-5;
  }

  .nav-item {
    @apply text-foreground hover:bg-navy-300/20 hover:text-neon rounded-full px-4 py-1.5 text-[1rem] font-medium transition duration-300;
  }

  .topPageMargin {
    @apply mt-[calc(var(--header-h)+4rem)];
  }

  .container {
    @apply mx-auto max-w-lg px-4 sm:max-w-2xl md:max-w-3xl lg:max-w-4xl;
  }

  .blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .gradient-title {
    @apply gradient bg-clip-text pr-2 pb-2 font-extrabold tracking-tighter text-transparent;
  }

  @font-face {
    font-family: "Body Bold Italic";
    src: url("/fonts/GoogleSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Body";
    src: url("/fonts/GoogleSans-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Body Bold";
    src: url("/fonts/GoogleSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Body Light";
    src: url("/fonts/GoogleSans-Regular.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Body Italic";
    src: url("/fonts/GoogleSans-Italic.ttf") format("truetype");
    font-weight: light;
    font-style: italic;
    font-display: swap;
  }

  .body-bold-italic {
    font-family: "Body Bold Italic";
  }

  .body-bold {
    font-family: "Body Bold";
  }

  .body-light {
    font-family: "Body Light";
  }

  .body-italic {
    font-family: "Body Italic";
  }

  .body {
    font-family: "Body";
  }

  .glow-container {
    position: relative;
    overflow: hidden;
  }

  .glow-primary {
    content: "";
    position: absolute;
    width: var(--glow-size-large);
    height: var(--glow-size-large);
    background: radial-gradient(ellipse, var(--glow-color) 0%, transparent 80%);
    opacity: var(--glow-opacity-primary);
    top: -80vh;
    left: 0;
    transform: translateX(-50%);
    border-radius: 100%;
    filter: blur(var(--glow-blur));
    z-index: 0;
    pointer-events: none;
  }

  .glow-secondary {
    content: "";
    position: absolute;
    width: var(--glow-size-large);
    height: calc(var(--glow-size-large) * 0.6);
    background: radial-gradient(ellipse, var(--glow-color) 0%, transparent 80%);
    opacity: var(--glow-opacity-primary);
    top: 200px;
    right: 0;
    transform: translateX(70%);
    border-radius: 100%;
    filter: blur(var(--glow-blur));
    z-index: 0;
    pointer-events: none;
  }
}

@utility gradient {
  @apply from-text-300 via-foreground to-text-600 bg-gradient-to-b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d13211d;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #dad6c55c;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c41546d;
}
