@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  /* Colors */
  --color-dark-400: #3d424d;
  --color-dark-500: #0d1321;
  --color-dark-600: #0c111e;

  --color-blue-100: #d4dbe5;
  --color-blue-400: #90a3bc;
  --color-blue-500: #748cab;

  --color-text-300: #f5f2e5;
  --color-text-400: #f3efe0;
  --color-text-500: #f0ebd8;
  --color-text-600: #dad6c5; 

  --color-dark-2: #1d2d44;
  --color-dark-3: #3e5c76;
  --color-dark-4: #666666;
  --color-primary: #748cab;

  /* Fonts */
  --font-primary: Inter, sans-serif;

  /* Grid settings */
  --grid-size: 45px;
  --grid-opacity: 0.1;

  /* Breakpoints */
  --breakpoint-xs: 480px;

  --header-h: 80px;
  --hero-h: 80vh;
}

@layer base {
  :root {
    overflow-x: hidden;
  }

  body {
    @apply bg-dark-500 font-primary text-text-400 leading-6 selection:bg-blue-400 selection:text-text-500 relative;

     &::before {
      content: '';
      position: absolute;
      width: 70vw;
      height: 70vh;
      background: radial-gradient(ellipse, var(--color-blue-500) 0%, transparent 80%);
      opacity: 0.15;
      top: -40vh;
      left: 0;
      transform: translateX(-50%);
      border-radius: 100%;
      filter: blur(50px);
      z-index: 2;
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 70vw;
      height: 70vh;
      background: radial-gradient(ellipse, var(--color-blue-500) 0%, transparent 80%);
      opacity: 0.15;
      bottom: 100vh;
      right: 0;
      transform: translateX(70%);
      border-radius: 100%;
      filter: blur(50px);
      z-index: 5;
      pointer-events: none;
    }
  
  }

  h1 {
    @apply text-5xl font-bold leading-tight tracking-[-1%] sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-3xl font-bold;
  }

  a {
    @apply transition-colors duration-300;
  }
}

@layer components {
  /* Navigation */
  .nav-link {
    @apply text-text-400 text-lg font-medium hover:text-blue-100 transition-colors uppercase;
  }

  /* Header */
  .portfolio-header {
    @apply flex justify-between items-center px-5 xs:px-10 h-(--header-h);

    & nav ul {
      @apply flex gap-8;
    }
  }

  /* Hero Section */
  .hero-section {
    @apply flex justify-center items-center min-h-(--hero-h) px-5 xs:px-10 ;

    & .title-container {
      @apply max-w-4xl text-center;
    }
  }
   
}

.primary-color-filter {
  fill: var(--color-primary);
}
